<div class="container">
  <div class="">
    <h1><em>Restaurants</em></h1>
  </div>
  <%= link_to "add a new restaurant", new_restaurant_path, class:"btn btn-secondary"  %>
    <% @restaurants.each do |restaurant|%>
      <div class="card">
        <h2><%= link_to restaurant.name, restaurant_path(restaurant.id) %></h2>
        <p>Category: <%= restaurant.category %></p>
        <p>Address: <%= restaurant.address %></p>
        <p>Phone number: <%= restaurant.phone_number %></p>
      </div>
    <% end %>

</div>
